body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

ol,
ul {
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
}

p,h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* CONTAINER */

.container {
    max-width: 320px;
    padding-right: 16px;
    padding-left: 16px;
    margin: 0 auto;
}


.container-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* -CONNTAINER- */

.header {
    box-shadow: 0px 1px 1px rgba(46, 47, 66, 0.16);
}

.link{
    text-decoration: none;
}

/* HEADER */

.logo {
    font-family: "Raleway" , sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 16px 0;
}

.logo-studio {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#2e2f42;
}

.link {
    font-family: "Roboto" , sans-serif;
    justify-content: flex-start;
    font-weight: 500;
    color:#434455 ;
}


.header-menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
}

.link:hover {
    color: #404bbf;
}


.link:focus {
    color: #404bbf;
}

.link-studio {
    position: relative;
    color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-studio::after {
    content: "";
    position: absolute;
    background-color: #404BBF;
    border-radius: 2px;
    height: 4px;
    width: 100%;
    left: 0;
    bottom: -1px;
}

.header-address {
    font-style: normal;
    margin-left: auto;
}

.header-item-menu {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.header-item-menu:hover {
    color:#404bbf;
}


.header-item-menu:focus {
    color:#404bbf;
}


.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);;
}


/* .logo {
    display: flex;
    margin-right: 76px;
} */

.header-navigation {
    display: flex;
    align-items: center;
}

.header-menu {
    /* display: flex; */
    display: none;
    margin: 0;
    /* gap: 40px; */
}

.header-address-menu {
    display: none;
    /* display: flex; */
    /* gap: 40px; */
    margin: 0;
    transition: color cubic-bezier(0.4, 0, 0.2, 1);
}

.open-btn {
    padding: 0;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.open-menu-btn {
    padding: 0;
    background-color: transparent;
    line-height: 0;
    cursor: pointer;
    border: none;
}

/* -HEADER- */

/* MOB_MENU_HEADER */

.mob-menu {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    top: 0;
    padding: 24px;
    display: flex;
    flex-direction: column;
}


.model-close-mob {
    display: block;
    margin-left: auto;
    margin-bottom: 16px;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #E7E9FC;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-list{
    margin-bottom: 40px;
}

.link-mobail {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.studio-mob {
    color: #404bbf;
}


.mob-navigation {
    margin-bottom: auto;
}

.navigation-link-mob {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #404bbf;
    margin-bottom: 40px;
}

.mesendger-mob {
    display: flex;
    gap: 40px;
}

.header-address-mob {
    margin-bottom: 40px;
}

.tel-mob {
    color: #4d5ae5;
}

.mail-mob {
    color: #434455;
}

.header-item-menu-mob-mob {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.header-menu-contacts-mob {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.tel-mob {
    margin-bottom: 24px;
}



/* -MOB_MENU_HEADER- */


/* EFFECTIVE SOLUTIONS */

.section {
    background: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)),url(..//images/people-efice-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-weight: 700;
    /* font-size: 56px; */
    font-size: 36px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    /* padding: 188px 0; */
    padding: 72px 0;
    margin: 0 auto;
    /* max-width: 1440px; */
    max-width: 320px;
}

.section-effective {
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
    margin-bottom: 48px;
}

.button {
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color:#4d5ae5;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-effective {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
}

.button {
    font-family: "Roboto", sans-serif;
    background: #4d5ae5;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}


/* EFFECTIVE SOLUTIONS */


/* ADVANTAGES */

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

.section-menu {
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; */
    gap: 72px;
    /* padding-bottom: 120px; */
}

.item-icon {
    border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background-color: #f4f4fd;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        border-radius: 4px;
        margin-bottom: 8px;
        display: none;
}

.advantage {
    padding: 96px 0;
}

.section-feature {
    margin-bottom: 8px;
}

.section-item {
    /* width: 264px;
    height: 72px; */
    /* width: calc((100% - 72px) / 4); */
}

.section-feature {
    /* font-weight: 500; */
    font-weight: 700;
    text-align: center;
    /* font-size: 20px; */
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-paragraph {
    font-weight: 500;
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* -ADVANTAGES- */


/* OUR-TEAM */

.section-ourteam {
    /* padding: 120px 0; */
    padding: 96px 0;
}

.our-team {
    margin-bottom: 72px;
}

.section-menu-ourteam {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* gap: 24px; */
    gap: 72px;
}

.section-item-ourteam {
    border-radius: 0px 0px 4px 4px;
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.name-our {
    text-align: center;
    padding: 32px 0;
}

.img-our-team {
    margin-right: 156px;
    margin-left: 156px;
    margin-bottom: 32px;
    margin: 0 auto;
   
}

.section-ourteam-comand {
    text-align: center;
    margin-bottom: 8px;
}

.section-ourteam {
    background-color: #f4f4fd;
}

.our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.section-ourteam-comand {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.section-paragraph-ourteam {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.mesendger {
    display: flex;
    justify-content: center;
    /* gap: 24px; */
    gap: 24px;
    /* padding-left: 16px;
    padding-right: 16px; */
}

/* -OUR-TEAM- */


/* PORTFOLIO */

.our-portfolio{
    /* margin-top: 72px;
    margin-bottom: 72px; */
    margin-bottom: 72px;
}

.section-menu-ourportfolio {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
    gap: 48px 24px;
}


.categories{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}


.section-item-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin-bottom: 8px
}

.item-mesendger {
    width: 40px;
    height: 40px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.social-network {
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network:hover {
    background-color: #404bbf;
}

.social-network:focus {
    background-color: #404bbf;
}

.network {
    fill: #f4f4fd;
}

.section-item-ourteam {
    background: #fff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-our-portfolio {
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding: 96px 0;
}

.our-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.section-text-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-paragraph-portfolio {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-portfolio {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-portfolio:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-portfolio:hover .section-wrap {
    transform:translateY(0);

}

.section-wrap {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background: #4d5ae5;
    height: 100%;
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-cover-wrap {
    position: relative;
    overflow: hidden;
}

/* -PORTFOLIO- */


/* FOOTER */

.container-footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 72px;
}

.footer-logo {
    /* margin-right: 120px */
    /* text-align: center; */
}

.footter-social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    /* text-align: center; */
}

.footer-social-list {
    display: flex;
    /* padding-left: 52px; */
    margin-bottom: 0;
    gap: 16px;
}

.footer-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover {
    background-color: #31d0aa;
}

.footer-link:focus {
    background-color: #31d0aa;
}

.footer-social-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fotter-item-svg {
    fill: #f4f4fd;
}

.footer {
    font-weight: 700;
    background: #2e2f42;
    /* padding-top: 100px;
    padding-bottom: 100px; */
    padding: 96px 0;
    align-items: baseline;
}


.logo-fuuter {
    display: inline-block;
    /* margin-bottom: 16px; */
}



.footer-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
    /* text-align: center; */
    /* margin-bottom: 8px; */
}


.footer-social {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;


}

.studio-footer{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#f4f4fd;
}

/* .modal-footer {
    margin-left: auto;
} */

.modal-foot-paragraf {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
}

.footer-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.footer-input {
    width: 288px;
    /* width: 264px; */
    height: 40px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
}

.modal-footer-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.footer-btn-svg {
    margin-left: 16px;
    fill: #FFFFFF;
}

/* -FOOTER- */

.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    padding: 72px 24px 24px 24px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}


 .is-open {
    opacity:0;
    visibility: visible;
    pointer-events: auto;
} 


.modal {
    position: absolute;
    /* width: 408px; */
    width: 288px;
    /* min-height: 584px; */
    min-height: 623px;
    background-color: #fcfcfc;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    padding-left: 16px;
    padding-right: 16px;
}

.model-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #E7E9FC;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.model-close:hover,
.model-close:focus {
    background-color: #404BBF;
    border: none;
    fill: #ffffff;
}


.model-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.model-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-input:focus {
    border-color: #4D5AE5;
}

.model-input:focus + .modal-icon {
    fill: #4D5AE5;
}

.bodal-filed {
    fill:#2E2F42;
    position: absolute;
    padding: 72px 24px 24px 24px;
}

.modal-filed {
    margin-bottom: 8px;
}

.modal-comment {
    margin-bottom: 16px;
}

.model-input::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.modal-label {
    display: inline-block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 16px;
    margin-bottom: 4px;
}

.modal-icon {
    fill:#2E2F42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    margin-bottom: 4px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modadl-field-wrap {
   position: relative;
    
}

.modal-text {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    outline: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    resize: none;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:focus {
    border-color: #4D5AE5;
}

.modal-btn {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
}

.model-check-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    align-items: center;
}

.input:checked {
    border: none;
}

.form-link {
    text-decoration: underline;
    color: #4D5AE5;
}

.model-check-text  .span-class-icon {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: #FFFFFF;
    fill: transparent;
}

.modal-check:checked + .model-check-text span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;;
}

.checkbox-hiden {
    margin-bottom: 24px;
}

.span-class-icon {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        border: 1px solid rgba(46, 47, 66, 0.4);
        display: inline-flex;
        flex-shrink: 0;
}

        /* MOBIL-FIRST */
@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
        padding-right: 16px;
        padding-left: 16px;
        margin: 0 auto;
    }
}

@media screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}


@media screen and ( min-width:768px) {
    /* HEADER */
    
    .header-menu {
        display: flex;
        gap: 40px;
        padding: 24px;
    }

    

    .open-btn {
        display: none;
    }

    .header-address-menu {
        display: block;
    }

    .header-menu-item {
        font-size: 12px;
        line-height: 1.16;
    }

    .open-menu-btn {
        display: none;
    }

    .navigation-link {
        display: block;
    }

    .header-menu-contacts {
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;
        margin-bottom: 12px;
    }

    .mobil-mob {
        margin-bottom: 0;
    }

    /* -HEADER- */

    /* ADVANTAGE */

    .section-menu {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
        margin-bottom: 0;
    }

    .section-item {
        width: calc((100% - 24px) / 2)
    }

    .section-feature {
        text-align: left;
    }

    /* -ADVANTAGES- */

    /* EFFECTIVE */

    .section {
        padding: 112px 0;
    }

    /* -EFFECTIVE- */

    /* PORTFOLIO */

    .section-menu-ourportfolio {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .section-portfolio {
        gap: 72px 24px;
        width: calc((100% - 24px) / 2);
    }

        .section-portfolio {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
        box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    /* -PORTFOLIO- */

    /* OUR-TEAM */

    .section-menu-ourteam {
        flex-wrap: wrap;
        gap: 64px 24px;
        justify-content: center;
    }

    /* -OUR-TEAM- */

    /* EFFECTIVE */

    .section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)), url(..//images/people-efice-tab.jpg);
    min-width: 768px;
    font-size: 56px;
    }

    .section-effective {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07143;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        min-width: 496px;
    }

    /* -EFFECTIVE- */

    /* FOOTER */

    .container-footer {
        justify-content: flex-start;
        padding-left: 108px;
        gap: 72px 24px;
    }

    .footer-input {
        width: 266px;
    }

    

    .footer-paragraph {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        width: 264px;
    }

    .footer-logo {
    }

    .modal-foot-paragraf {
        text-align: start;
    }

    /* -FOOTER- */

    /* MODAL */

    .modal {
        width: 400px;
        min-height: 584px;
    }

    /* -MODAL- */

}

@media screen and (min-width:1158px) {
    /* HEADER */

    .logo {
        display: flex;
        margin-right: 76px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
   
    .header-menu {
        display: flex;
        gap: 40px;
    }

    .header-address-menu {
        display: flex;
        gap: 40px;
        
    }

    .header-menu-contacts {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin: 0;
    }



    /* -HEADER- */

    /* ADVANTAGES */

.item-icon {
    border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background-color: #f4f4fd;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        border-radius: 4px;
        margin-bottom: 8px;
}

.section-menu {
    gap: 24px;
    margin-bottom: 0;
}

.advantage {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-item {
    width: calc((100% - 72px) / 4);
}

.section-feature {
    font-weight: 500;
    font-size: 20px;
}

.section-paragraph {
    font-weight: 400;
}

    /* -ADVANTAGES- */

    /* PORTFOLIO */
    
    .our-portfolio {
        margin-top: 72px;
        margin-bottom: 72px; 
    }

    .section-menu-ourportfolio {
        flex-wrap: wrap;
    }


    .section-our-portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .section-portfolio {
        gap: 72px 24px;
        width: calc((100% - 48px) / 3);
       box-shadow: none;
    }


    /* -PORTFOLIO- */

         /* OUR-TEAM */

        .section-ourteam {
            padding: 120px 0;
        }
        
        .section-menu-ourteam {
            gap: 24px;
        }

        .mesendger {
            gap: 24px;
        }

        /* -OUR-TEAM- */

        /* EFFECTIVE */

        .section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(..//images/people-ofice.jpg);
            max-width: 1440px;
            font-size: 56px;
            padding: 188px 0;
        }

        /* -EFFECTIVE- */

        /* FOOTER */

        .container-footer {
            display: flex;
            align-items: baseline;
            padding-left: 15px;
        }

        .footer-logo {
            margin-right: 120px
        }

        .footer-social-list {
            display: flex;
            gap: 16px;
        }

        .footer {
            padding-top: 100px;
            padding-bottom: 100px;
        }

        .footer-paragraph {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #f4f4fd;
            width: 264px;
        }

        .footer-form {
            display: flex;
            gap: 24px;
        }

        .modal-footer {
            margin-left: auto;
        }

       .footter-social-title {
        text-align: start;
       }

        /* -FOOTER- */

    /* MODAL */
        
        .modal {
            width: 400px;
            min-height: 584px;
        }
        
    /* -MODAL- */

}



    /* -MOBIL-FIRST- */